{% extends 'base.html' %}

{% block content %}
    {{block.super}}
<style>

      html,
    body,
    header,
    .tb {
      margin-top: 30px;
      height:400px;
    }

</style>

    <h1>Available Drivers</h1>
    <ul>
        {% for driver in madriver %}

        <li> Name: {{ driver.name }}</li>
        <li> Price Per Km: {{ driver.price_per_km }} rwf  </li>
        <li> Availabile now: {{ driver.availability }} </li>
        <li>Call: {{ driver.Namba }}</li>

        {% endfor %}
    </ul>
{% endblock %}
