
{% extends 'me2ushop/base_template.html' %}
{% load mptt_tags %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/seller_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

{% endblock %}



<body>

 {% block header_main %}
        {% include 'sellers/seller_navbar.html' %}
 {% endblock %}

 {% block main_nav %}
 {% endblock %}

{% block site_wrapper %}

<div class="super_container mt-4">
    <div class="row">
    <div class="col-md">
        <div class="card card-body text-center">
            <h5>Delivery Address</h5>
            <hr>
            <h3>Shipping Address</h3>
            <p>Street Address: {{order.customer_order.shipping_address1 }}</p>
            <p>Apartment Address: {{order.customer_order.shipping_address2 }}</p>
            <p>Country: {{order.customer_order.shipping_country }}</p>
            <p>City: {{order.customer_order.shipping_city }}</p>
            <p>Zip Code: {{order.customer_order.shipping_zip_code }}</p>

            <h3>Billing Address</h3>
            <p>Street Address: {{order.customer_order.billing_address1 }}</p>
            <p>Apartment Address: {{order.customer_order.billing_address2 }}</p>
            <p>Country: {{order.customer_order.billing_country }}</p>
            <p>City: {{order.customer_order.billing_city }}</p>
            <p>Zip Code: {{order.customer_order.billing_zip_code }}</p>


        </div>
    </div>
</div>
</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>

