{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

<!--contact styles-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_responsive.css">

{% endblock %}

<body>

{% block site_wrapper %}

<div class="super_container">
    <div class=" container content-section mt-5">
        <form method="POST">
<!--                protect form from attacks-->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Product</legend>
<!--                    Call the form from views-->
                <h2> Are you sure you want to delete this product "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }} ">Cancel</a>
            </div>
        </form>

    </div>
</div>


{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

<!-- contact styles-->
<script src="{{ STATIC_URL }}js/contact_custom.js"></script>

{% endblock %}
</body>

