{% extends 'me2ushop/base_template.html' %}
{% load mptt_tags %}
{% load catalog_filters %}
{% load currency %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/seller_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

<style>
    .table th{
        font-size: 20px;
    }

    .table td{
        font-size: 15px;
    }
</style>

{% endblock %}

<body>

 {% block navbar_inner %}
        {% include 'sellers/seller_navbar.html' %}
 {% endblock %}



{% block site_wrapper %}

<div class="super_container">
    <div class="row">
    <div class="col-md">
        <div class="container">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Stock </th>
                    <th>Thumbnail</th>
                </tr>
                {% for item in products %}
                <tr>
                   <td><a href="{{ item.get_absolute_url}}">{{ item }}</a></td>
                   <td> {{ item.stock }}</td>

                    {% if item.get_images %}
                        {% for image in item.get_images %}
                            {% if image.in_display %}
                            <td class="caption" style="height:70px">
                                <a href="{{ item.get_absolute_url}}"><img src="{{ image.image.thumbnail.url }}"/></a>
                            </td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td><a class="btn btn-outline-info btn-sm" href="{% url 'me2ushop:product_image_create' item.slug %}">Add Image</a></td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>


