{% extends 'me2ushop/base_template.html' %}
{% load mptt_tags %}
{% load catalog_filters %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/seller_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

{% endblock %}

  {% block navbar %}
        {% include 'sellers/seller_navbar.html' %}
  {% endblock %}

<body>
{% block site_wrapper %}

<div class="super_container">
    <div class="row">
    <div class="col-md">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Stock </th>
                    <th>Category</th>
                    <th>Thumbnail</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                {% for item in products %}
                <tr>
                   <td> <a href="{{ item.get_absolute_url}}">{{ item }}</a></td>
                   <td> {{ item.stock }}</td>
                    <td>{{ item.get_category_choice_display }}</td>

                    {% if item.get_images %}
                        {% for image in item.get_images %}
                            {% if image.in_display %}
                            <td class="caption" style="height:70px">
                                <img src="{{ image.image.thumbnail.url }}"/>
                            </td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td><a class="btn btn-outline-info btn-sm" href="{% url 'me2ushop:product_image_create' item.slug %}">Add Image</a></td>
                    {% endif %}

                    {% if item.discount_price %}
                        <td>{{ item.discount_price|currency }}</td>
                    {% else %}
                        <td>{{ item.price|currency }}</td>
                    {% endif %}
                    <td>
                        <nav>
                            <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a class="btn btn-outline-orange btn-sm " href="{% url 'me2ushop:product' item.slug %}">View</a>
                                <a class="btn btn-outline-blue btn-sm" href="{% url 'me2ushop:product_image_create' item.slug %}">Add Image</a>
                          </li>
                                </ul>
                        </nav>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</div>

</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>


