<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{total_orders.count}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{delivered.count }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pending.count }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">In-Transit</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{in_transit.count }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-cancelled">
                <div class="card-header">
                    <h5 class="card-title">Orders cancelled</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{cancelled.count }}</h5>
                </div>
            </div>
        </div>
    </div>

</div>