{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

<!--contact styles-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_responsive.css">

{% endblock %}


<body>

{% block site_wrapper %}

<div class="super_container">

	<!-- Cart -->
	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 offset-lg-1 mt-5">
                  <h2>Business Summary</h2>
					<p>
						<strong>Business Name: </strong><span>{{ brand.title }}</span>
					</p>
					<p>
						<strong>Phone: </strong><span>{{ brand.business_phone }}</span>

					</p>
					<p>
						<strong>Email: </strong><span>{{brand.business_email}}</span>

					</p>
					<div><h5>Business Description</h5></div>

					<p>{{brand.business_description}}</p>

					<p>
						<strong>Subscription Plan: </strong><span>{{ brand.subscription_plan }}</span>
					</p>
					<p>
						<strong>Subscription Reference No: </strong><span>{{ brand.subscription_reference }}</span>
					</p>

					{% if brand.is_active %}
					<p>
						<strong class="green-text">Brand is Active: </strong>
					</p>

<!--					<p>-->
<!--						<strong class="warning-color">Subscription Expires in: </strong><span>{{brand.get_subscription_expiry }}</span>-->
<!--					</p>-->
					{% else %}
					<p>
						<strong class="red-text">Brand is Inactive: </strong>
					</p>
					<p>
						<strong class="danger-color">Subscription Expired </strong><span>{{ brand.get_subscription_expiry }}</span>
					</p>
					{% endif %}

					<br>
					{% if free_plan %}
					<div class="row">
						<p><a href="{{ brand.get_brandupdate_url }}">Update Brand</a></p>
						<p class="red-text ml-4"><a href="{{ brand.get_backstore_url }}"><strong class="green-text">Free 30 Days</strong></a></p>
					</div>
					{% else %}
						{% if brand.is_active %}
							<div class="row">
								<p><a href="{{ brand.get_brandupdate_url }}">Update Brand</a></p>
								<p class="green-text ml-4"><a href="{{ brand.get_backstore_url }}"><strong>My Store</strong></a></p>
							</div>
						{% else %}
							<p>Continue With <strong class="green-text">{% include 'djangorave/pay_button.html' with payment_model=payment_type %}</strong></p>
								<div class="row">
									<p><a href="{{ brand.get_brandupdate_url }}"><strong>Update Brand</strong></a></p>
									<p class="red-text ml-4"><a href="{{ brand.get_backstore_url }}"><strong>Pay Later</strong></a></p>
								</div>
						{% endif %}

					{% endif %}


				</div>
			</div>
		</div>
	</div>

</div>



{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

<!-- contact styles-->
<script src="{{ STATIC_URL }}js/contact_custom.js"></script>

{% endblock %}
</body>

