{% load catalog_filters %}
{% load mptt_tags %}

<!-- Brands -->
{% block headblock %}
<style type="text/css">

        .quote-card {
          background: #fff;
          color: #222222;
          padding: 20px;
          padding-left: 50px;
          box-sizing: border-box;
          box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
          position: relative;
          overflow: hidden;
          min-height: 120px;
        }
        .quote-card p {
          font-size: 22px;
          line-height: 1.5;
          margin: 0;
          max-width: 80%;
        }
        .quote-card cite {
          font-size: 16px;
          margin-top: 10px;
          display: block;
          font-weight: 200;
          opacity: 0.8;
        }
        .quote-card:before {
          font-family: Georgia, serif;
          content: "“";
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 5em;
          color: rgba(238, 238, 238, 0.8);
          font-weight: normal;
        }
        .quote-card:after {
          font-family: Georgia, serif;
          content: "”";
          position: absolute;
          bottom: -110px;
          line-height: 100px;
          right: -32px;
          font-size: 25em;
          color: rgba(238, 238, 238, 0.8);
          font-weight: normal;
        }
        @media (max-width: 640px) {
            .quote-card:after {
                font-size: 22em;
                right: -25px;
            }
        }

        .quote-card.green-card {
          background: #00970B;
          color: #ffffff;
          box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
        }
        .quote-card.green-card:before, .quote-card.green-card:after {
          color:#59E063 ;
        }

    </style>
{% endblock %}

<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">

                    <!-- Brands Slider -->

                    <div class="owl-carousel owl-theme brands_slider">
                        {% for brand in brands %}
                        {% if brand.is_featured %}
	                    <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{{ brand.logo.url }}" alt=""></div></div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"></div>
                    <div class="brands_nav brands_next"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Brands -->


<!--&lt;!&ndash; Newsletter &ndash;&gt;-->

<!--<div class="newsletter" id="newsletterSign">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">-->
<!--                    <div class="newsletter_title_container">-->
<!--                        <div class="newsletter_icon"><img src="{{ STATIC_URL }}images/send.png" alt=""></div>-->
<!--                        <div class="newsletter_title">Sign up for Newsletter</div>-->
<!--                        <div class="newsletter_text"><p>...and receive 20% coupon for first shopping.</p></div>-->
<!--                    </div>-->
<!--                    <div class="newsletter_content clearfix">-->
<!--                        <form method="POST" action="{% url 'marketing:ajax_email_signup' %}" id="sendFormNews">-->
<!--                            {% csrf_token %}-->

<!--                            <input class="newsletter_input" required="required" placeholder="Enter your email address" id="id_email" maxlength="200" name="email">-->

<!--                            <button type="submit" class="newsletter_button" id="sendFormNewsSubmit">Subscribe</button>-->

<!--                        </form>-->

<!--&lt;!&ndash;							<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div id="newsletterMessage"></div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Newsletter &ndash;&gt;-->




<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                  <h3 class="tm-text-primary mb-4 tm-footer-title">Me2UAfrika </h3>
                    <div class="footer_title">Got Question? Call Us 24/7</div>
                    <div class="footer_phone">+250 785 011 413</div>
                    <div class="footer_contact_text">
                        <p>Kigali Business Center, Rwanda</p>
                        <p>KG 7 Ave, Kigali</p>
                        <p>KBC 2nd Floor</p>
                    </div>

                    <div class="footer_social">
                        <ul>
                            <li><a href="https://www.facebook.com/Me2UAfrika"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Find it Fast</div>
                    <ul class="footer_list">
                        {% recursetree active_departments %}
                            {% if node.is_leaf_node %}
                            <li><a href="{{ node.get_absolute_url }}" target="_blank">{{ node.category_name }}</a></li>
                            {% endif %}
                        {% endrecursetree %}
                        <li><a href="{% url 'blog:blog_home' %}">Blog</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                     {% recursetree active_departments %}
                    <ul class="footer_list">
                        {% if not node.is_leaf_node %}
                        <li><a href="{{ node.get_absolute_url }}" target="_blank">{{ node.category_name }}</a></li>
                        {% endif %}
                    </ul>
                    {% endrecursetree %}
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Customer Care</div>
                    <ul class="footer_list">
                        <li><a href="{% url 'users:profile' %}" target="_blank">My Account</a></li>
                        <li><a href="{% url 'me2ushop:wish_list' %}" target="_blank">Wish List</a></li>
                        <li><a href="{% url 'me2ushop:mobile_my_orders' %}" target="_blank">Order Tracking</a></li>
                        <li><a href="{% url 'main:contact_us' %}" target="_blank">Customer Services</a></li>

                        <li><a href="{% url 'me2ushop:request_refund' %}" target="_blank">Returns / Exchange</a></li>
                        <li><a href="{% url 'marketing:faqs' %}">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 mb-5 d-block">
                  <p>
                    Me2U Afrika, is a marketplace where we connect buyers with leading African Suppliers Manufacturers and sellers.
                      <br>
<!--                    A seller is able to customize their products as needed and be able to track how their business is faring on at no cost.-->
<!--                      <br>-->
<!--                    We've also integrated local transport for delivery services and anyone can sign up to deliver our products upon verification. To address the limited contact between the seller and the buyer during this pandemic, help deliver a product bought on Me2U Afrika and earn a commission. We hope to unite Afrika through Trade and provide Job opportunities to people across the  African continent and beyond.-->
<!--                    Please endorse us. Your support is highly appreciated.-->

                      <p>
                          <blockquote class="quote-card green-card">
                            <p class="text-white">
                              Unity is the resultant value that comes from what you and I can exchange, so is respect.
                            </p>

                            <cite>
                              Daniel Ogechi
                            </cite>
                          </blockquote>
                        </p>

                  </p>
              </div>

            <div>

            </div>

        </div>
    </div>
</footer>

	<!-- Copyright -->

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                    <div class="copyright_content">
                        <!-- Link back to Me2UAfrika can't be removed. Licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="{% url 'me2ushop:home' %}" target="_blank">Me<i class="fa fa-heart" aria-hidden="true"></i>U|Afrika</a> | made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </div>
                        <div class="logos ml-sm-auto">
                        <ul class="logos_list">
                            <li><a href="#"><img src="{{ STATIC_URL }}images/logos_1.png" alt=""></a></li>
                            <li><a href="#"><img src="{{ STATIC_URL }}images/logos_2.png" alt=""></a></li>
                            <li><a href="#"><img src="{{ STATIC_URL }}images/logos_3.png" alt=""></a></li>
                            <li><a href="#"><img src="{{ STATIC_URL }}images/logos_4.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
