{% extends 'me2ushop/base_template.html' %}
{% load catalog_filters %}
{% load mptt_tags %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">


{% endblock %}

<body>

{% block site_wrapper %}

<div class="super_container">

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">{{ object.category_name }}</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						{% if object.get_descendants %}
						<div class="sidebar_section">
							<div class="sidebar_title">{{ object.category_name}} Subcategories</div>
							<ul class="sidebar_categories">
								{% for category in object.get_descendants %}
						        <li>
						            <a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a>
						        </li>
						        {% endfor %}
							</ul>
						</div>
						{% endif %}
						<div class="sidebar_section filter_by_section">
							<div class="sidebar_title">Filter By</div>
							<div class="sidebar_subtitle">Price</div>
							<div class="filter_price">
								<div id="slider-range" class="slider_range"></div>
								<p>Range: </p>
								<p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
							</div>
						</div>
						<div class="sidebar_section">
							<div class="sidebar_subtitle color_subtitle">Color</div>
							<ul class="colors_list">
								<li class="color"><a href="#" style="background: #b19c83;"></a></li>
								<li class="color"><a href="#" style="background: #000000;"></a></li>
								<li class="color"><a href="#" style="background: #999999;"></a></li>
								<li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
								<li class="color"><a href="#" style="background: #df3b3b;"></a></li>
								<li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
							</ul>
						</div>
						<div class="sidebar_section">
							<div class="sidebar_subtitle brands_subtitle">Brands</div>
							<ul class="brands_list">
								{% for brand_name in brands %}
								<li class="brand"><a href="{% url 'me2ushop:seller_page' brand_name.id %}">{{ brand_name.title }}</a></li>
								{% endfor %}
							</ul>
						</div>

					</div>


				</div>

				<div class="col-lg-9">

					<!-- Shop Content -->

					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{ object.product_set.all.count}}</span> products found</div>
							<div class="shop_sorting">
								<span>Sort by:</span>
								<ul>
									<li>
										<span class="sorting_text">highest rated<i class="fas fa-chevron-down"></i></span>
										<ul>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>price</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

						<div class="product_grid">
							<div class="product_grid_border"></div>

							<!-- Product Item -->
							{% for product in object.product_set.all %}
							{% if product.discount_price %}
							<!-- Product Item -->
							<div class="product_item discount">
								<div class="product_border"></div>
								{% for image in product.get_images %}
								{% if image.in_display %}

									<div class="product_image d-flex flex-column align-items-center justify-content-center">
										<a href="{{ product.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ image.image.thumbnail }}" alt=""></a>
									</div>

								{% endif %}
								{% endfor %}
								<div class="product_content">
									<div class="product_price">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
									<div class="product_name"><div><a href="#" tabindex="0">{{ product.title|truncatechars:19}}</a></div></div>
								</div>
								<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
									<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

									{% for wish in wish_list %}
									{% if wish.product == product %}
									<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
									{% endif %}
									{% endfor %}

								</a>
								<ul class="product_marks">
									<li class="product_mark product_discount">-{{product.total_discount}}%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>
							{% else %}
							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								{% for image in product.get_images %}
								{% if image.in_display %}

									<div class="product_image d-flex flex-column align-items-center justify-content-center">
										<a href="{{ product.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ image.image.thumbnail }}" alt=""></a>
									</div>

								{% endif %}
								{% endfor %}
								<div class="product_content">
									<div class="product_price"><a href="{{ product.get_absolute_url }}">{{ product.price|currency }}</a></div>
									<div class="product_name"><div><a href="{{ product.get_absolute_url }}" tabindex="0">{{ product.title|truncatechars:19}}</a></div></div>
								</div>
									<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
									<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

									{% for wish in wish_list %}
									{% if wish.product == product %}
									<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
									{% endif %}
									{% endfor %}

								</a>
								<ul class="product_marks">
									<li class="product_mark product_new">new</li>
								</ul>
							</div>
							{% endif %}
							{% endfor %}

						</div>


						<!-- Shop Page Navigation -->

						<div class="shop_page_nav d-flex flex-row">
							<div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
							<ul class="page_nav d-flex flex-row">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">21</a></li>
							</ul>
							<div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>



<!-- Recommended from previous search -->
    {% if search_recs %}
	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Recommended for you</h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">

						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">

							<!-- Recently Viewed Item -->
							{% for product in search_recored %}
							{% if product.discount_price %}
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-{{ product.total_discount }}%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% else %}

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ product.price|currency }}</div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<!-- Recently Viewed -->
    {% if recently_viewed %}
	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Recently Viewed</h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">

						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">

							<!-- Recently Viewed Item -->
							{% for product in recently_viewed %}
							{% if product.discount_price %}
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-{{ product.total_discount }}%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% else %}

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ product.price|currency }}</div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}


</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>

