{% extends 'me2ushop/base_template.html' %}

{% load search_tags %}
{% load catalog_filters %}
{% load cart_template_tag %}
{% load mptt_tags %}
{% load crispy_forms_tags %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/slick-1.8.0/slick.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/responsive.css">

{% endblock headblock %}


{% block header %}


{% endblock %}

{% block site_wrapper %}

<body>

<div class="super_container">
	<!-- Header -->

	<!-- Banner -->

	<div class="banner">
<!--		<div class="banner_background" style="background-image:url( {{ MEDIA_URL }}images/banner_background.jpg)"></div>-->
		<div class="banner_background" style="background-image:url( {{ STATIC_URL }}images/banner_background.jpg)"></div>
		<div class="container fill_height">
			<div class="row fill_height">
				{% if top_banner.product.get_images %}
				{% for image in top_banner.product.get_images %}
				<div class="banner_product_image"><img src="{{ image.image.url }}" alt="{{ top_banner.product.title}}"></div>
				{% endfor %}
				{% endif %}
				<div class="col-lg-5 offset-lg-4 fill_height">
					<div class="banner_content">
						<h1 class="banner_text">{{ top_banner.banner_text }}</h1>
						{% if top_banner.product.discount_price %}
						<div class="banner_price"><span>{{ top_banner.product.price|currency  }}</span>{{ top_banner.product.discount_price|currency  }}</div>
						{% else %}
						<div class="product_price"><span></span>{{ top_banner.product.price|currency  }}</div>

						{% endif %}
						<div class="banner_product_name">{{ top_banner.product.title }}</div>
						<div class="button banner_button"><a href="{{ top_banner.get_absolute_url }}">Shop Now</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Characteristics -->

	<div class="characteristics">
		<div class="container">
			<div class="row">
				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{{ STATIC_URL }}img/char_1.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">On-Time Delivery</div>
							<div class="char_subtitle"> <strong><i>Shop Near Me!</i></strong></div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{{ STATIC_URL }}img/char_2.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Round the Clock Customer Care</div>
							<div class="char_subtitle">dial <strong>+250 785011413</strong> To Order</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{{ STATIC_URL }}img/char_3.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Secure Payments</div>
							<div class="char_subtitle">10% cashback on checkout using <strong>QuiqPay</strong></div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="{{ STATIC_URL }}img/char_4.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Product Tracking</div>
							<div class="char_subtitle">Track your order using our <strong>Me2UApp</strong></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Deals of the week -->

	<div class="deals_featured">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">

					<!-- Deals -->

					<div class="deals">
						<div class="deals_title">Deals of the Week</div>
						<div class="deals_slider_container">

							<!-- Deals Slider -->
							<div class="owl-carousel owl-theme deals_slider">

								<!-- Deals Item -->
								{% for deal in deals %}

								<div class="owl-item deals_item">
									{% for image in deal.product.get_images %}
									{% if image.in_display %}

										<div class="deals_image">
											<a href="{{ deal.product.get_absolute_url }}"><img src="{{ image.image.medium.url }}" alt="{{ product.title }}"></a>
										</div>

									{% endif %}
									{% endfor %}

									<div class="deals_content">
										<div class="deals_info_line d-flex flex-row justify-content-start">
											<div class="deals_item_category"><a href="#">{{ deal.product.get_category_choice_display }}</a></div>
											<div class="deals_item_price_a ml-auto">{{ deal.product.price|currency }}</div>
										</div>
										<div class="deals_info_line d-flex flex-row justify-content-start">
											<div class="deals_item_name"><a href="{{ deal.product.get_absolute_url }}"> {{ deal.product.title }}</a></div>
											<div class="deals_item_price ml-auto">{{ deal.deal_discount_price|currency }}</div>
										</div>
										<div class="available">
											<div class="available_line d-flex flex-row justify-content-start">
												<div class="available_title">Available: <span>{{ deal.product.stock }}</span></div>
												<div class="sold_title ml-auto">Already sold: <span>{{ deal.product.total_items_ordered }}</span></div>
											</div>
											<div class="available_bar"><span style="width:17%"></span></div>
										</div>
										<div class="deals_timer d-flex flex-row align-items-center justify-content-start">
											<div class="deals_timer_title_container">
												<div class="deals_timer_title">Hurry Up</div>
												<div class="deals_timer_subtitle">Offer ends in:</div>
											</div>
											<div class="deals_timer_content ml-auto">
												<div class="deals_timer_box clearfix" data-target-time="">
													<div class="deals_timer_unit">
														<div id="deals_timer1_hr" class="deals_timer_hr"></div>
														<span>hours</span>
													</div>
													<div class="deals_timer_unit">
														<div id="deals_timer1_min" class="deals_timer_min"></div>
														<span>mins</span>
													</div>
													<div class="deals_timer_unit">
														<div id="deals_timer1_sec" class="deals_timer_sec"></div>
														<span>secs</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}


							</div>

						</div>

						<div class="deals_slider_nav_container">
							<div class="deals_slider_prev deals_slider_nav"><i class="fas fa-chevron-left ml-auto"></i></div>
							<div class="deals_slider_next deals_slider_nav"><i class="fas fa-chevron-right ml-auto"></i></div>
						</div>
					</div>

					<!-- Featured -->
					<div class="featured">
						<div class="tabbed_container">
							<div class="tabs">
								<ul class="clearfix">
									<li class="active">Featured</li>
									<li>Best Rated</li>
									<li>Recommended</li>
								</ul>
								<div class="tabs_line"><span></span></div>
							</div>

							<!-- Product Panel -->
							<div class="product_panel panel active">
								<div class="featured_slider slider">

									<!-- Slider Item -->
									{% for product in featuring %}
									<div class="featured_slider_item">
										<div class="border_active"></div>
										<div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
											{% for image in product.get_images %}
											{% if image.in_display %}

												<div class="product_image d-flex flex-column align-items-center justify-content-center">
													<a href="{{ product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a>
												</div>

											{% endif %}
											{% endfor %}

											<div class="product_content">
												{% if product.discount_price %}
												<div class="product_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
												{% else %}
												<div class="product_price">{{ product.price|currency }}</div>
												{% endif %}
												<div class="product_name"><div><a href="{{ product.get_absolute_url }}">{{ product.title|truncatechars:18 }}</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<form action="{% url 'me2ushop:add_cart' product.slug %}" target="_blank"><button class="arrivals_single_button">Add to Cart</button></form>
												</div>
											</div>
											<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
												<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

												{% for wish in wish_list %}
												{% if wish.product == product %}
												<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
												{% endif %}
												{% endfor %}

											</a>
											<ul class="product_marks">
												{% if product.discount_price %}
												<li class="product_mark product_discount">-{{ product.total_discount }}%</li>
												{% endif %}
												<li class="product_mark product_new">new</li>
											</ul>
										</div>
									</div>
									{% endfor %}

								</div>
								<div class="featured_slider_dots_cover"></div>
							</div>

							<div class="product_panel panel">
								<div class="featured_slider slider">

									<!-- Slider Item -->
									{% for product in bestrated %}
									<div class="featured_slider_item">
										<div class="border_active"></div>
										<div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
											{% for image in product.get_images %}
											{% if image.in_display %}

												<div class="product_image d-flex flex-column align-items-center justify-content-center">
													<a href="{{ product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a>
												</div>

											{% endif %}
											{% endfor %}

											<div class="product_content">
												{% if product.discount_price %}
												<div class="product_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
												{% else %}
												<div class="product_price">{{ product.price|currency }}</div>
												{% endif %}
												<div class="product_name"><div><a href="{{ product.get_absolute_url }}">{{ product.title|truncatechars:18 }}</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<form action="{% url 'me2ushop:add_cart' product.slug %}" target="_blank"><button class="arrivals_single_button">Add to Cart</button></form>
												</div>
											</div>
											<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
												<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

												{% for wish in wish_list %}
												{% if wish.product == product %}
												<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
												{% endif %}
												{% endfor %}

											</a>
											<ul class="product_marks">
												{% if product.discount_price %}
												<li class="product_mark product_discount">-{{ product.total_discount }}%</li>
												{% endif %}
												<li class="product_mark product_new">new</li>
											</ul>
										</div>
									</div>
									{% endfor %}

								</div>
								<div class="featured_slider_dots_cover"></div>
							</div>

							<div class="product_panel panel">
								<div class="featured_slider slider">

									<!-- Slider Item -->
									{% for product in view_recomms %}
									<div class="featured_slider_item">
										<div class="border_active"></div>
										<div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
											{% for image in product.get_images %}
											{% if image.in_display %}

												<div class="product_image d-flex flex-column align-items-center justify-content-center">
													<a href="{{ product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a>
												</div>

											{% endif %}
											{% endfor %}

											<div class="product_content">
												{% if product.discount_price %}
												<div class="product_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
												{% else %}
												<div class="product_price">{{ product.price|currency }}</div>
												{% endif %}
												<div class="product_name"><div><a href="{{ product.get_absolute_url }}">{{ product.title|truncatechars:18 }}</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<form action="{% url 'me2ushop:add_cart' product.slug %}" target="_blank"><button class="arrivals_single_button">Add to Cart</button></form>
												</div>
											</div>
											<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
												<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

												{% for wish in wish_list %}
												{% if wish.product == product %}
												<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
												{% endif %}
												{% endfor %}

											</a>
											<ul class="product_marks">
												{% if product.discount_price %}
												<li class="product_mark product_discount">-{{ product.total_discount }}%</li>
												{% endif %}
												<li class="product_mark product_new">new</li>
											</ul>
										</div>
									</div>
									{% endfor %}

								</div>
								<div class="featured_slider_dots_cover"></div>
							</div>


						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Popular Categories -->

	<div class="popular_categories">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="popular_categories_content">
						<div class="popular_categories_title">Popular Categories</div>
						<div class="popular_categories_slider_nav">
							<div class="popular_categories_prev popular_categories_nav"><i class="fas fa-angle-left ml-auto"></i></div>
							<div class="popular_categories_next popular_categories_nav"><i class="fas fa-angle-right ml-auto"></i></div>
						</div>
						<div class="popular_categories_link"><a href="{% url 'me2ushop:full_catalog' %}">full catalog</a></div>
					</div>
				</div>

				<!-- Popular Categories Slider -->

				<div class="col-lg-9">
					<div class="popular_categories_slider_container">
						<div class="owl-carousel owl-theme popular_categories_slider">

							<!-- Popular Categories Item -->
							   {% recursetree active_departments %}

							<div class="owl-item">
								<div class="popular_category d-flex flex-column align-items-center justify-content-center">
									<div class="popular_category_image"><img src="{{ node.icon_url.url }}" alt=""></div>
									<div class="popular_category_text"><a href="{{ node.get_absolute_url }}">{{ node.category_name }}</a></div>
								</div>
							</div>
							{% endrecursetree %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->
	<div class="banner_2">
		<div class="banner_2_background" style="background-image:url({{ STATIC_URL }}img/banner_2_background.jpg)"></div>
		<div class="banner_2_container">
			<div class="banner_2_dots"></div>
			<!-- Banner 2 Slider -->

			<div class="owl-carousel owl-theme banner_2_slider">

				{% for slider in sliders %}
				<!-- Banner 2 Slider Item -->
				<div class="owl-item">
					<div class="banner_2_item">
						<div class="container fill_height">
							<div class="row fill_height">
								<div class="col-lg-4 col-md-6 fill_height">
									<div class="banner_2_content">
										<div class="banner_2_category">{{ slider.product.get_category_choice_display }}</div>
										<div class="banner_2_title">{{ slider.header_text }}</div>
										<div class="banner_2_text">{{ slider.text }}</div>
										<div class="rating_r rating_r_4 banner_2_rating"><i></i><i></i><i></i><i></i><i></i></div>
										{% if slider.link_url %}
										<div class="button banner_2_button"><a href="{{ slider.link_url }}">Explore</a></div>
										{% else %}
										<div class="button banner_2_button"><a href="{{ slider.product.get_absolute_url }}">Explore</a></div>
										{% endif %}
									</div>

								</div>
								<div class="col-lg-8 col-md-6 fill_height">
									<div class="banner_2_image_container">
											{% for image in slider.product.get_images %}
											{% if image.in_display %}

												<div class="banner_2_image">
													<a href="{{ slider.product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ slider.product.title }}"></a>
												</div>

											{% endif %}
											{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Hot New Arrivals -->

	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="tabbed_container">
						<div class="tabs clearfix tabs-right">
							<div class="new_arrivals_title">Hot New Arrivals</div>
							<ul class="clearfix">
								<li class="active">Recent</li>
								<li>Deals</li>
								<li>Top Picks</li>
							</ul>
							<div class="tabs_line"><span></span></div>
						</div>
						<div class="row">
							<div class="col-lg-9" style="z-index:1;">

								<!-- Product Panel -->
								<div class="product_panel panel active">
									<div class="arrivals_slider slider">

										<!-- Slider Item -->
										{% for product in recent_products %}
										<div class="arrivals_slider_item">
											<div class="border_active"></div>
											<div class="product_item is_new  d-flex flex-column align-items-center justify-content-center text-center">
											{% for image in product.get_images %}
											{% if image.in_display %}
												<div class="product_image d-flex flex-column align-items-center justify-content-center"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

											{% endif %}
											{% endfor %}

											<div class="product_content">
												{% if product.discount_price %}
												<div class="product_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
												{% else %}
												<div class="product_price">{{ product.price|currency }}</div>
												{% endif %}
												<div class="product_name"><div><a href="product.html">{{ product.title|truncatechars:18 }}</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<form action="{% url 'me2ushop:add_cart' product.slug %}"><button class="arrivals_single_button">Add to Cart</button></form>
												</div>
											</div>
											<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
												<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

												{% for wish in wish_list %}
												{% if wish.product == product %}
												<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
												{% endif %}
												{% endfor %}

											</a>
											<ul class="product_marks">
												{% if product.discount_price %}
												<li class="product_mark product_discount">-{{ product.total_discount }}%</li>
												{% endif %}
												<li class="product_mark product_new">new</li>
											</ul>
										</div>
										</div>
										{% endfor %}
									</div>
									<div class="arrivals_slider_dots_cover"></div>
								</div>

								<!-- Product Panel -->
								<div class="product_panel panel">
									<div class="arrivals_slider slider">

										<!-- Slider Item -->
										{% for product in deals %}
										<div class="arrivals_slider_item">
											<div class="border_active"></div>
											<div class="product_item is_new  d-flex flex-column align-items-center justify-content-center text-center">
											{% for image in product.product.get_images %}
											{% if image.in_display %}
												<div class="product_image d-flex flex-column align-items-center justify-content-center"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

											{% endif %}
											{% endfor %}

											<div class="product_content">
												{% if product.deal_discount_price %}
												<div class="product_price discount">{{ product.deal_discount_price|currency }}<span>{{ product.product.price|currency }}</span></div>
												{% endif %}
												<div class="product_name"><div><a href="product.html">{{ product.product.title|truncatechars:18 }}</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<form action="{% url 'me2ushop:add_cart' product.product.slug %}"><button class="arrivals_single_button">Add to Cart</button></form>
												</div>
											</div>
											<a href="{% url 'me2ushop:add_wishlist' product.product.slug %}" target="_blank">
												<div class="product_fav" id="{{ product.product.slug}}"><i class="fas fa-heart"></i></div>

												{% for wish in wish_list %}
												{% if wish.product == product.product %}
												<div class="product_fav active" id="{{ product.product.slug}}"><i class="fas fa-heart"></i></div>
												{% endif %}
												{% endfor %}

											</a>
											<ul class="product_marks">
												<li class="product_mark product_new">new</li>
											</ul>
										</div>
										</div>
										{% endfor %}
									</div>
									<div class="arrivals_slider_dots_cover"></div>
								</div>

								<!-- Product Panel -->
								<div class="product_panel panel">
									<div class="arrivals_slider slider">

										<!-- Slider Item -->
										{% for product in search_recomms %}
										<div class="arrivals_slider_item">
											<div class="border_active"></div>
											<div class="product_item is_new  d-flex flex-column align-items-center justify-content-center text-center">
											{% for image in product.get_images %}
											{% if image.in_display %}
												<div class="product_image d-flex flex-column align-items-center justify-content-center"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

											{% endif %}
											{% endfor %}

											<div class="product_content">
												{% if product.discount_price %}
												<div class="product_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
												{% else %}
												<div class="product_price">{{ product.price|currency }}</div>
												{% endif %}
												<div class="product_name"><div><a href="product.html">{{ product.title|truncatechars:18 }}</a></div></div>
												<div class="product_extras">
													<div class="product_color">
														<input type="radio" checked name="product_color" style="background:#b19c83">
														<input type="radio" name="product_color" style="background:#000000">
														<input type="radio" name="product_color" style="background:#999999">
													</div>
													<form action="{% url 'me2ushop:add_cart' product.slug %}"><button class="arrivals_single_button">Add to Cart</button></form>
												</div>
											</div>
											<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
												<div class="product_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

												{% for wish in wish_list %}
												{% if wish.product == product %}
												<div class="product_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
												{% endif %}
												{% endfor %}

											</a>
											<ul class="product_marks">
												{% if product.discount_price %}
												<li class="product_mark product_discount">-{{ product.total_discount }}%</li>
												{% endif %}
												<li class="product_mark product_new">new</li>
											</ul>
										</div>
										</div>
										{% endfor %}
									</div>
									<div class="arrivals_slider_dots_cover"></div>
								</div>

							</div>

							{% if best_seller_banner %}
							<div class="col-lg-3">
								<div class="arrivals_single clearfix">
									<div class="d-flex flex-column align-items-center justify-content-center">
										{% for image in best_seller_banner.product.get_images %}
										{% if image.in_display %}

											<div class="arrivals_single_image"><img src="{{ image.image.medium.url }}" alt=""></div>

										{% endif %}
										{% endfor %}

										<div class="arrivals_single_content">
											<div class="arrivals_single_category"><a href="#">{{ best_seller_banner.product.get_category_choice_display }}</a></div>
											<div class="arrivals_single_name_container clearfix">
												<div class="arrivals_single_name"><a href="#">{{ best_seller_banner.product.title }}</a></div>
												<div class="arrivals_single_price text-right">{{ best_seller_banner.product.price|currency }}</div>
											</div>
											<div class="rating_r rating_r_4 arrivals_single_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<form action="{% url 'me2ushop:add_cart' best_seller_banner.product.slug %}"><button class="arrivals_single_button">Add to Cart</button></form>
										</div>
											<a href="{% url 'me2ushop:add_wishlist' best_seller_banner.product.slug %}" target="_blank">
											<div class="arrivals_single_fav product_fav" id="{{ best_seller_banner.product.slug}}"><i class="fas fa-heart"></i></div>

											{% for wish in wish_list %}
											{% if wish.product == best_seller_banner.product %}
											<div class="product_fav active" id="{{ best_seller_banner.product.slug}}"><i class="fas fa-heart"></i></div>
											{% endif %}
											{% endfor %}

										</a>
										<ul class="arrivals_single_marks product_marks">
											<li class="arrivals_single_mark product_mark product_new">new</li>
										</ul>
									</div>
								</div>
							</div>
							{% endif %}

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Best Sellers -->

	<div class="best_sellers">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="tabbed_container">
						<div class="tabs clearfix tabs-right">
							<div class="new_arrivals_title">Best Sellers</div>
							<ul class="clearfix">
								<li class="active">Top 20</li>
								{% if rand_department_1 %}
								<li>{{ rand_department_1}}</li>
								{% endif %}
								{% if rand_department_2 %}
								<li>{{ rand_department_2}}</li>
								{% endif %}
							</ul>
							<div class="tabs_line"><span></span></div>
						</div>

						<div class="bestsellers_panel panel active">

							<!-- Best Sellers Slider -->

							<div class="bestsellers_slider slider">

								{% for product in bestselling %}
								{% if product.discount_price %}
								<!-- Best Sellers Item -->
								<div class="bestsellers_item discount">
									<div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">

										{% for image in product.get_images %}
										{% if image.in_display %}

										<div class="bestsellers_image"><a href="{{ product.get_absolute_url }}"> <img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

										{% endif %}
										{% endfor %}
										<div class="bestsellers_content">
											<div class="bestsellers_category"><a href="#">{{ product.get_category_choice_display }}</a></div>
											<div class="bestsellers_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
											<div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<div class="bestsellers_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
										</div>
									</div>
									<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
										<div class="bestsellers_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

										{% for wish in wish_list %}
										{% if wish.product.slug == product.slug %}
										<div class="bestsellers_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
										{% endif %}
										{% endfor %}

									</a>
									<ul class="bestsellers_marks">
										<li class="bestsellers_mark bestsellers_discount">-{{ product.total_discount }}%</li>
										<li class="bestsellers_mark bestsellers_new">new</li>
									</ul>
								</div>

								{% else %}

								<!-- Best Sellers Item -->
								<div class="bestsellers_item">
									<div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
										{% for image in product.get_images %}
										{% if image.in_display %}

										<div class="bestsellers_image"><a href="{{ product.get_absolute_url }}"> <img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

										{% endif %}
										{% endfor %}

										<div class="bestsellers_content">
											<div class="bestsellers_category"><a href="#">{{ product.get_category_choice_display }}</a></div>
											<div class="bestsellers_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
											<div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<div class="bestsellers_price">{{ product.price|currency }}</div>
										</div>
									</div>

										<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
											<div class="bestsellers_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

											{% for wish in wish_list %}
											{% if wish.product.slug == product.slug %}
											<div class="bestsellers_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
											{% endif %}
											{% endfor %}

										</a>
									<ul class="bestsellers_marks">
										<li class="bestsellers_mark bestsellers_new">new</li>
									</ul>
								</div>

								{% endif %}
								{% endfor %}

							</div>
						</div>

						<div class="bestsellers_panel panel">

							<!-- Best Sellers Slider -->

							<div class="bestsellers_slider slider">

								{% for product in rand_department_1.product_set.all %}
								{% if product.discount_price %}
								<!-- Best Sellers Item -->
								<div class="bestsellers_item discount">
									<div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">

										{% for image in product.get_images %}
										{% if image.in_display %}

										<div class="bestsellers_image"><a href="{{ product.get_absolute_url }}"> <img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

										{% endif %}
										{% endfor %}
										<div class="bestsellers_content">
											<div class="bestsellers_category"><a href="#">{{ product.get_category_choice_display }}</a></div>
											<div class="bestsellers_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
											<div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<div class="bestsellers_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
										</div>
									</div>
									<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
										<div class="bestsellers_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

										{% for wish in wish_list %}
										{% if wish.product.slug == product.slug %}
										<div class="bestsellers_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
										{% endif %}
										{% endfor %}

									</a>
									<ul class="bestsellers_marks">
										<li class="bestsellers_mark bestsellers_discount">-{{ product.total_discount }}%</li>
										<li class="bestsellers_mark bestsellers_new">new</li>
									</ul>
								</div>

								{% else %}

								<!-- Best Sellers Item -->
								<div class="bestsellers_item">
									<div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
										{% for image in product.get_images %}
										{% if image.in_display %}

										<div class="bestsellers_image"><a href="{{ product.get_absolute_url }}"> <img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

										{% endif %}
										{% endfor %}

										<div class="bestsellers_content">
											<div class="bestsellers_category"><a href="#">{{ product.get_category_choice_display }}</a></div>
											<div class="bestsellers_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
											<div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<div class="bestsellers_price">{{ product.price|currency }}</div>
										</div>
									</div>

										<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
											<div class="bestsellers_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

											{% for wish in wish_list %}
											{% if wish.product.slug == product.slug %}
											<div class="bestsellers_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
											{% endif %}
											{% endfor %}

										</a>
									<ul class="bestsellers_marks">
										<li class="bestsellers_mark bestsellers_new">new</li>
									</ul>
								</div>

								{% endif %}
								{% endfor %}

							</div>
						</div>

						<div class="bestsellers_panel panel">

							<!-- Best Sellers Slider -->

							<div class="bestsellers_slider slider">

								{% for product in rand_department_2.get_products %}
								{% if product.discount_price %}
								<!-- Best Sellers Item -->
								<div class="bestsellers_item discount">
									<div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">

										{% for image in product.get_images %}
										{% if image.in_display %}

										<div class="bestsellers_image"><a href="{{ product.get_absolute_url }}"> <img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

										{% endif %}
										{% endfor %}
										<div class="bestsellers_content">
											<div class="bestsellers_category"><a href="#">{{ product.get_category_choice_display }}</a></div>
											<div class="bestsellers_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
											<div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<div class="bestsellers_price discount">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
										</div>
									</div>
									<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
										<div class="bestsellers_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

										{% for wish in wish_list %}
										{% if wish.product.slug == product.slug %}
										<div class="bestsellers_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
										{% endif %}
										{% endfor %}

									</a>
									<ul class="bestsellers_marks">
										<li class="bestsellers_mark bestsellers_discount">-{{ product.total_discount }}%</li>
										<li class="bestsellers_mark bestsellers_new">new</li>
									</ul>
								</div>

								{% else %}

								<!-- Best Sellers Item -->
								<div class="bestsellers_item">
									<div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
										{% for image in product.get_images %}
										{% if image.in_display %}

										<div class="bestsellers_image"><a href="{{ product.get_absolute_url }}"> <img src="{{ image.image.thumbnail.url }}" alt="{{ product.title }}"></a></div>

										{% endif %}
										{% endfor %}

										<div class="bestsellers_content">
											<div class="bestsellers_category"><a href="#">{{ product.get_category_choice_display }}</a></div>
											<div class="bestsellers_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
											<div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
											<div class="bestsellers_price">{{ product.price|currency }}</div>
										</div>
									</div>

										<a href="{% url 'me2ushop:add_wishlist' product.slug %}" target="_blank">
											<div class="bestsellers_fav" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>

											{% for wish in wish_list %}
											{% if wish.product.slug == product.slug %}
											<div class="bestsellers_fav active" id="{{ product.slug}}"><i class="fas fa-heart"></i></div>
											{% endif %}
											{% endfor %}

										</a>
									<ul class="bestsellers_marks">
										<li class="bestsellers_mark bestsellers_new">new</li>
									</ul>
								</div>

								{% endif %}
								{% endfor %}

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Adverts -->

<!--	<div class="adverts">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-4 advert_col">-->

<!--					&lt;!&ndash; Advert Item &ndash;&gt;-->

<!--					<div class="advert d-flex flex-row align-items-center justify-content-start">-->
<!--						<div class="advert_content">-->
<!--							<div class="advert_title"><a href="#">Trends 2018</a></div>-->
<!--							<div class="advert_text">Lorem ipsum dolor sit amet, consectetur adipiscing Donec et.</div>-->
<!--						</div>-->
<!--						<div class="ml-auto"><div class="advert_image"><img src="media/images/adv_1.png" alt=""></div></div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-lg-4 advert_col">-->

<!--					&lt;!&ndash; Advert Item &ndash;&gt;-->

<!--					<div class="advert d-flex flex-row align-items-center justify-content-start">-->
<!--						<div class="advert_content">-->
<!--							<div class="advert_subtitle">Trends 2018</div>-->
<!--							<div class="advert_title_2"><a href="#">Sale -45%</a></div>-->
<!--							<div class="advert_text">Lorem ipsum dolor sit amet, consectetur.</div>-->
<!--						</div>-->
<!--						<div class="ml-auto"><div class="advert_image"><img src="{{ MEDIA_URL }}images/adv_2.png" alt=""></div></div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-lg-4 advert_col">-->

<!--					&lt;!&ndash; Advert Item &ndash;&gt;-->

<!--					<div class="advert d-flex flex-row align-items-center justify-content-start">-->
<!--						<div class="advert_content">-->
<!--							<div class="advert_title"><a href="#">Trends 2018</a></div>-->
<!--							<div class="advert_text">Lorem ipsum dolor sit amet, consectetur.</div>-->
<!--						</div>-->
<!--						<div class="ml-auto"><div class="advert_image"><img src="{{ MEDIA_URL }}images/adv_3.png" alt=""></div></div>-->
<!--					</div>-->
<!--				</div>-->

<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<!-- Trends -->

	{% for trend_info in trend_info %}

	<div class="trends">
		{% if trend_info.trend_background %}
			<div class="trends_background" style="background-image:url({{ trend_info.trend_background.url }})"></div>

		{% endif %}
		<div class="trends_overlay"></div>
		<div class="container">
			<div class="row">

				<!-- Trends Content -->
				<div class="col-lg-3">
					<div class="trends_container">
						<h2 class="trends_title">{{ trend_info.trend_header }}</h2>
						<div class="trends_text"><p>{{ trend_info.trend_text }}</p></div>
						<div class="trends_slider_nav">
							<div class="trends_prev trends_nav"><i class="fas fa-angle-left ml-auto"></i></div>
							<div class="trends_next trends_nav"><i class="fas fa-angle-right ml-auto"></i></div>
						</div>
					</div>
				</div>

				<!-- Trends Slider -->
				<div class="col-lg-9">
					<div class="trends_slider_container">

						<!-- Trends Slider -->

						<div class="owl-carousel owl-theme trends_slider">

							<!-- Trends Slider Item -->
							{% for trend in trends %}
							<div class="owl-item">
								<div class="trends_item is_new">

									{% for image in trend.product.get_images %}
									{% if image.in_display %}

									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><a href="{{ trend.product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{trend.product.title }}"></a></div>


									{% endif %}
									{% endfor %}
									<div class="trends_content">
										<div class="trends_category"><a href="{{ trend.product.get_absolute_url }}" target="_blank">{{trend.product.get_category_choice_display}}</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="{{ trend.product.get_absolute_url }}" target="_blank">{{ trend.product.title|truncatechars:18 }}</a></div>
											<div class="trends_price">{{ trend.product.price|currency }}</div>
										</div>
									</div>
									<ul class="trends_marks">
										{% if trend.product.discount_price %}
										<li class="trends_mark trends_discount">-{{ trend.product.total_discount }}%</li>
										{% endif %}
										<li class="trends_mark trends_new">new</li>
									</ul>
									<a href="{% url 'me2ushop:add_wishlist' trend.product.slug %}" target="_blank">
										<div class="trends_fav" id="{{ trend.product.slug}}"><i class="fas fa-heart"></i></div>

										{% for wish in wish_list %}
										{% if wish.product == trend.product %}
										<div class="trends_fav active" id="{{ trend.product.slug}}"><i class="fas fa-heart"></i></div>
										{% endif %}
										{% endfor %}

									</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	{% endfor %}


	<!-- Reviews -->


	<div class="reviews">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="reviews_title_container">
						<h3 class="reviews_title">Latest Reviews</h3>
<!--						<div class="reviews_all ml-auto"><a href="#">view all <span>reviews</span></a></div>-->
					</div>

					<div class="reviews_slider_container">

						<!-- Reviews Slider -->
						<div class="owl-carousel owl-theme reviews_slider">

							{% for review in reviews %}
							<!-- Reviews Slider Item -->
							<div class="owl-item">
								<div class="review d-flex flex-row align-items-start justify-content-start">
									{% for image in review.get_images %}
									{% if image.in_display %}
									<div ><div class="review_image"><a href="{{ review.product.get_absolute_url }}"><img src="{{ image.image.thumbnail.url }}" alt="{{ review.product.title }}"></a></div></div>
									{% endif %}
									{% endfor %}
									<div class="review_content">
										<div class="review_name">{{ review }} - {{ review.country }}</div>
										<div class="review_rating_container">
											<div class="rating_r rating_r_4 review_rating">
												<i class="fa fa-star-o"></i>
												<i class="fa fa-star-o empty"></i>
												<i class="fa fa-star-o empty"></i>
												<i class="fa fa-star-o empty"></i>
												<i class="fa fa-star-o empty"></i>
												<h4> {{ review.rating }}</h4>
											</div>
											<br>
											<div class="rating_r rating_r_4 review_rating review_text"><a href="{{ review.product.get_absolute_url }}"><h5>{{ review.title }}</h5></a></div>
											<br>
											<div class="review_time">{{ review.date }}</div>
										</div>
										<div class="review_text"><a href="{{ review.product.get_absolute_url }}"><p>{{ review.content|linebreaks|truncatechars:100 }}</p></a></div>
									</div>
								</div>
							</div>
							{% endfor %}


						</div>
						<div class="reviews_dots"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Recently Viewed -->
	{% if recently_viewed %}
	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Recently Viewed</h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">

						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">

							<!-- Recently Viewed Item -->
							{% for product in recently_viewed %}
							{% if product.discount_price %}
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ product.discount_price|currency }}<span>{{ product.price|currency }}</span></div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-{{ product.total_discount }}%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% else %}

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ product.price|currency }}</div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

</div>
</body>
{% endblock %}

{% block extra_scripts %}

    <script src="{{ STATIC_URL }}js/custom.js"></script>
    <script src="{{ STATIC_URL }}css/plugins/slick-1.8.0/slick.js"></script>

{% endblock extra_scripts %}