{% extends 'me2ushop/base_template.html' %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart_responsive.css">

<style type="text/css">


</style>
{% endblock %}

<body>
{% block main_nav %}
{% endblock %}

{% block header_main %}
{% endblock %}


{% block site_wrapper %}
<div class="super_container">

	<!-- Cart -->

	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">Shopping Cart</div>
						<div class="cart_items">
							<ul class="cart_list">

								{% for order_item in object.items.all %}
								<li class="cart_item clearfix">
									{% for image in order_item.item.productimage_set.all %}
									{% if image.in_display %}
									<div class="cart_item_image"><a href="{% url 'me2ushop:product' order_item.item.slug %}"><img src="{{ image.image.thumbnail.url }}" alt=""></a></div>
									{% endif %}
									{% endfor %}
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Name</div>
											<div class="cart_item_text"><a href="{% url 'me2ushop:product' order_item.item.slug %}">{{ order_item.item.title|truncatechars:19 }}</a></div>
										</div>
										<div class="cart_item_color cart_info_col">
											<div class="cart_item_title">Color</div>
											<div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
										</div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">Quantity</div>
											<div class="cart_item_text">
												<a href="{% url 'me2ushop:remove_single_item_cart' order_item.item.slug %}"><i class="fas fa-minus-circle mr-2"></i></a>
												{{ order_item.quantity }}
												<a href="{% url 'me2ushop:add_cart' order_item.item.slug %}"><i class="fas fa-plus-circle ml-2"></i></a>
											</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">Price</div>
											<div class="cart_item_text">${{ order_item.item.price}}</div>
										</div>
										<div class="cart_item_total cart_info_col">
											<div class="cart_item_title">Total</div>
											<div class="cart_item_text">${{order_item.get_total_price}}</div>
										</div>

										<div class="cart_item_total cart_info_col">
											<div class="cart_item_title"></div>
											<div class="cart_item_text">
												<a style="color:orange" href="{% url 'me2ushop:remove_cart' order_item.item.slug %}">
													Delete
                                                    <i class="fas fa-toilet-paper ml-3"></i>
												</a>
											</div>
										</div>


									</div>
								</li>
								{% endfor %}
							</ul>
						</div>

						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Order Total:</div>
								<div class="order_total_amount">${{ object.get_total }}</div>
							</div>
						</div>

						<div class="cart_buttons">
							 <button type="button" class="button cart_button_checkout">
								 <a href="{% url 'me2ushop:home' %}">Shop<i class="fas fa-hand-holding-usd"></i></a>
							 </button>

<!--				        <button type="button" class="button cart_button_checkout">-->
<!--					        <a href="{% url 'me2ushop:address_select' %}" target="_blank">Proceed to checkout-->
<!--				          <i class="fas fa-hand-holding-usd"></i><i class="fas fa-hand-lizard"></i></a>-->
<!--				        </button>-->
				        <button type="button" class="button cart_button_checkout">
					        <a  href="{% url 'me2ushop:checkout' %}">Checkout</a>
				        </button>
						</div>
						 <div class="pt-4 text-center font-small mt-4 wow fadeIn cart_buttons">


                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}js/shop_custom.js"></script>
<script src="{{ STATIC_URL }}js/cart_custom.js"></script>
<script src="{{ STATIC_URL }}js/custom.js"></script>

{% endblock %}
</body>



