{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}
{% load currency %}
{% load me2u_djangorave_tags %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">
<style>

#stripeBtnLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#stripeBtn {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #2E86C1;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float:left;
  margin-left: 12px;
  margin-top: 28px;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}

#stripe-form {
  padding: 30px;
  height: 120px;
}

label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}

.stripe-form-row {
  width: 70%;
  float: left;
}


#stripe-token-handler.is-hidden {
  opacity: 0;
  transform: translateY(-80px);
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>

{% endblock %}

{% block header_main %}
{% endblock header_main %}
{% block main_nav %}
{% endblock main_nav %}



<body class="grey lighten-3">

{% block site_wrapper %}

<!--Main layout-->
  <main class="mt-0 pt-0">
    <div class="container wow fadeIn">
      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Payment</h2>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!--Card-->

          <div class="card">


                {% if payment == 'S' %}
                  <div class="new-card-form">
                    {% include 'snippets/stripe_snippet.html' %}
                  </div>

                {% endif %}

                 {% if payment == 'P' %}
                    <div class="new-card-form center">
                        {% include 'snippets/paypal_snippet.html' %}
                    </div>
                {% endif %}

                {% if payment == 'M' %}
                    <div class="new-card-form center">
                        {% include 'snippets/mpesa_snippet.html' %}
                    </div>
                {% endif %}
                {% if payment == 'Fw' %}
                    <div class="new-card-form center">
                        {% include 'snippets/flutterwave_snippet.html' %}
                    </div>
                {% endif %}
                {% if payment == 'DC' %}
                    <div class="new-card-form center">
                        {% include 'snippets/flutterwave_snippet.html' %}
                    </div>
                    {% currency_context %}
                     <div class="new-card-form center">
                          <ul class="standard_dropdown top_bar_dropdown ">
                          <li>
                            {% with dropdown_extra_class="collapsed-nav red-text" %}
                              {% include "currencies/navbar/currency-chooser-bs3fa.html" %}
                            {% endwith %}
                          </li>
                        </ul>
                     </div>

                {% endif %}

          </div>
                <!--Call to action-->
              <div class="pt-4 text-center font-small mt-4 wow fadeIn">
                  <a class="btn btn-outline-orange"  href="{% url 'me2ushop:home'%}"
                     role="button">Continue Shopping<i class="fas fa-hand-holding-usd"></i>
                  </a>
             </div>
              <!--/.Call to action-->
                {% include 'snippets/order_snippet.html' %}

          </div>
        </div>
      </div>
      <!--Grid row-->
  </main>
  <!--Main layout-->



{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script src="https://js.stripe.com/v3/"></script>

<script>
    var form = document.getElementById('add_new_shipping');
    form.addEventListener('change', function(event){
      event.preventDefault();

      if (form.checked) {
          hideable_shipping_form.hide();
        } else {
          hideable_shipping_form.show();

        };
    });

</script>
{% endblock %}
</body>


