{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}
{% load currency %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

{% endblock %}

<body>

{% block site_wrapper %}

<div class="super_container">

	<!-- Cart -->
	<div class="cart_section text-center">
		<div class="container">
			<div class="row">
                <div class="col text-center">
                    {% if status == unkown %}
                        <p>Still under Review</p>
                    {% endif %}

                    {% if status == True %}
                        <p class="text-green">Refund request approved. Our support team will be in touch with you</p>
                    {% endif %}

                    {% if status == False %}
                        <p class="text-red">Your Request has been denied. </p>
                    {% endif %}
                </div>

			</div>
		</div>
	</div>
	<!-- Cart -->

	<!-- Recently Viewed -->
	{% if recently_viewed %}
	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Recently Viewed</h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">

						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">

							<!-- Recently Viewed Item -->
							{% for product in recently_viewed %}
							{% if product.discount_price %}
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ CURRENCY.symbol }}{{ product.discount_price|currency:CURRENCY.code }} <span>{{ CURRENCY.symbol }}{{ product.price|currency:CURRENCY.code }} </span></div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-{{ product.total_discount }}%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% else %}

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									{% for image in product.get_images %}
									{% if image.in_display %}
									<div class="viewed_image"><a href="{{ product.get_absolute_url }}"><img src="{{ image.image.url }}" alt="{{ product.title }}"></a></div>
									{% endif %}
									{% endfor %}
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ CURRENCY.symbol }}{{ product.price|currency:CURRENCY.code }} </div>
										<div class="viewed_name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{% endif %}
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>

