{% extends "navigation.html" %}
 
{% block content %}
<main class="mt-5">
    <section class="text-center green-text">
    <h1>Request Received</h1>
    Thank You for Chosing Me2U|Africa. We honored to have you serve with us. You will receive an email with confirmation
        shortly. Murakoze(Thank You)
    <br /><br />
     <div class="pt-4 text-center font-small mt-4 wow fadeIn">
        <a class="btn btn-outline-orange" href="{% url 'me2ushop:home'%}"
           role="button">Continue Shopping<i class="fas fa-hand-holding-usd"></i>
        </a>
     </div>
    </section>
</main>
{% endblock %}