{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_responsive.css">

{% endblock %}


<body>

 {% block navbar_inner %}
        {% include 'sellers/seller_navbar.html' %}
 {% endblock %}

{% block site_wrapper %}

<div class="super_container">

	<!-- Cart -->

	<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						<section class="text-center">
							<div class="contact_form_title">Welcome On Board!</div>
							<p class="green-text">
	                            Congratulations!! Your seller account has been created.
	                            <br>
	                            Thank You for Chosing Me2U|Afrika. We honored to have you serve with us. Click Below to add your First Product!!
	                        </p>
	                        <br /><br />
	                         <div class="pt-4 text-center font-small mt-4 wow fadeIn">

	                            <a class="btn btn-outline-orange" href="{% url 'me2ushop:product-create' %}"
	                               role="button">St<i class="fas fa-heart"></i>rt Selling
	                            </a>
	                         </div>
						</section>

					</div>
				</div>
			</div>
		</div>
		<div class="panel"></div>
	</div>

</div>


{% endblock %}


 {% block footer %}
 {% endblock %}



{% block extra_scripts %}

<!-- contact styles-->
<script src="{{ STATIC_URL }}js/contact_custom.js"></script>

{% endblock %}
</body>

