<script>
   $(document).on('change', '#post-form-size', function (e){
   e.preventDefault();
   $.ajax({
       type: 'POST',
       url: "{% url 'me2ushop:color_ajax' %}",
       data:{
           productid:$('#productid').val(),
           size:$('#size').val(),
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           action:'post'
       },
       data_type : 'html',
       success: function (data){
           console.log('success');
           $('#appendHere').html(data.rendered_table);
       },
       error: function (data){
           alert('something is a miss ' + data);
       }
   });
});
</script>