{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

<!--contact styles-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_responsive.css">

{% endblock %}

{% block header_main %}
{% endblock header_main %}
{% block main_nav %}
{% endblock main_nav %}

<body>

{% block site_wrapper %}

<div class="super_container">

	<!-- Cart -->

	<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						  <section class="text-center">
                         <h2 class="mt-5"> {{page_message}}</h2>

                        </section>
					</div>
				</div>
			</div>
		</div>
		<div class="panel"></div>
	</div>

</div>


{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

<!-- contact styles-->
<script src="{{ STATIC_URL }}js/contact_custom.js"></script>

{% endblock %}
</body>

