{% extends 'navigation.html' %}
{% load crispy_forms_tags %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif%}

{% block content %}

        <div class="container content-section mt-5">
            <form method="POST">
<!--                protect form from attacks-->
                {% csrf_token %}

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
<!--                    Call the form from views-->
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign In</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'users:register'%}">Sign Up</a>
                </small>
            </div>

        </div>
{% endblock %}