{% extends 'me2ushop/base_template.html' %}
{% load mptt_tags %}
{% load crispy_forms_tags %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/seller_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">

{% endblock %}

{% block categories %}
    {% include 'users/profile_navbar.html' %}
{% endblock %}



<body>
{% block site_wrapper %}

<div class="super_container">
	<!-- Home -->
	<div class="home">

		<div class="home_background parallax-window" data-parallax="scroll" data-image-src=""></div>

		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">

            <div class="logo_container">
                {% if user.profile.image_url %}
                <div class="logo mr-0"><img src="{{ user.profile.image_url }}"></div>
                {% else %}
                <div class="logo mr-0"><img src="{{ user.profile.image.thumbnail.url }}"></div>
                {% endif %}
            </div>

			<h2 class="home_title">Welcome {{ name|capfirst }}!</h2>
            <p class="text-secondary">Email: {{ user.email }}</p>
            {% if profile_user.phone %}
                    <p class="text-secondary">Phone Number: {{ user.profile.phone }}</p>
            {% endif %}

		</div>
	</div>

    {% include 'sellers/status.html' %}

    <br>
    <br>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4" style="margin:auto; width:50%;">
           <form class="navbar-form" role="search" action="">

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Order" name="article">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"> Search<i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>

           </form>
        </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-5">
                <h5>Stores</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary btn-sm btn-block" href=""></a>
                    <table class="table table-sm">
                        <tr>
                            <th>#</th>
                            <th>Store #ID</th>
                            <th>Last Order Date</th>
                            <th>status</th>
                        </tr>
                            {% for order in orders %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>order #{{ order.id }}</td>
                            <td>{{ order.order_date|date }}</td>
                            <td><a href="{{ order.get_absolute_url }}" target="_blank">View Order</a></td>
                        </tr>
                        {% empty %}
                            You have no past orders.
                        {% endfor %}
                    </table>
                </div>
            </div>


            <div class="col-md-7">
        <h5>My recent Orders</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Request Refund</a>
            <table class="table table-sm">
                <tr>
                    <th>#</th>
                    <th>Order #ID</th>
                    <th>Order Date</th>
                    <th>status</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>order #{{ order.id }}</td>
                    <td>{{ order.order_date|date }}</td>
                    <td><a href="{{ order.get_absolute_url }}" target="_blank">View Order</a></td>
                </tr>
                {% empty %}
                    You have no past orders.
                {% endfor %}
            </table>
        </div>
    </div>
        </div>
    </div>

</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>




