{% load search_tags %}
{% load catalog_filters %}
{% load cart_template_tag %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

<div class="cat_menu_container">
    <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
        <div class="cat_burger"><span></span><span></span><span></span></div>
        <div class="cat_menu_text">Profile Settings</div>
    </div>

    <ul class="cat_menu">

            <li><a href="{% url 'account_change_password'%}" target="_blank">Change Password</a></li>
            <li><a href="{% url 'users:personal_info' %}">Personal Information</a></li>
            <li><a href="{% url 'users:address_list' %}">Billing and Shipping Address</a></li>
            <li>
                <a href="">Manage Account</a>
                <ul class="children">
                    <li><a href="{% url 'account_email'%}" target="_blank">Email Settings</a></li>
                    <li class="disabled"><a href="">Customer Care</a></li>
                    <li class="disabled"><a href="">Report Abuse</a></li>
                    <li class="disabled"><a href="">Delete Account</a></li>
                </ul>
            </li>
    </ul>

</div>
