{% extends 'navigation.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .mg-t{
    margin-top:100px
    }
    fieldset.my_account{
        padding:10px;
        }
    fieldset.my_account legend{
        font-weight:bold;
        }
    fieldset.my_account ul{
         list-style:none;
         }
    fieldset.my_account ul li{
        margin-bottom:5px;
        }
</style>
<!--    <h1>{{ user.username }}</h1>-->
<div class="container mg-t">
    <div class="row">
        <div class="col-lg-6">


            <div class="media">
                <img src="{{ user.profile.image.thumbnail.url }}" class="card-img-top rounded-circle account-img" style="height:120px; width:160px">
            </div>
            <div class="media-body">
                <strong class="account-heading">Welcome, {{ name|capfirst }}!</strong>
                <br/>
                <p class="text-secondary">Email: {{ user.email }}</p>
                <br>
                {% if profile_user.phone %}
                    <p class="text-secondary">Phone Number: {{ user.profile.phone }}</p>
                {% endif %}


            </div>
        </div>
        <div class="col-lg-6">
            <section class="text-right">
                <fieldset class="my_account">
                    <legend>Account Settings</legend>
                    <ul>
                        <li><a href="{% url 'password-change' %}">Change Password</a></li>
                        <li><a href="{% url 'users:personal-info' %}">Edit Personal information</a></li>
                        <li><a href="{% url 'users:order-info' %}">Edit Billing/Shipping Information</a></li>
                    </ul>
                </fieldset>
            </section>
        </div>
    </div>
    <div class="cb">
        <br><br>
    </div>
    <h3>Order History</h3>
    <div class="col-md-6 mb-4">
       <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Order" name="article">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"> Search<i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>

        </form>
        </div>

        <div class="table-responsive tb">
              <table class="table" id="order_id">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Order #ID</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">More Details </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                            <td> order #{{ order.id }} </td>
                            <td> {{ order.order_date|date }} </td>
                            <td><a href="{{ order.get_absolute_url }}">View Order</a></td>
                        </tr>
                    {% empty %}
                        You have no past orders.
                    {% endfor %}
              </tbody>
            </table>
          </div>

        <br/>
</div>
{% endblock %}