{% extends 'navigation.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <div class=" container content-section mt-5">
            <form method="POST">
<!--                protect form from attacks-->
                {% csrf_token %}

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Me2U|Africa</legend>
<!--                    Call the form from views-->
<!--                    {{ form|crispy }}-->
                    {{ form.non_field_errors }}
                    {% include "includes/field.html" with field=form.email %}
                    {% include "includes/field.html" with field=form.password1 %}
                    {% include "includes/field.html" with field=form.password2 %}


                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Login In</a>
                </small>
            </div>

        </div>
{% endblock %}