{% load mptt_tags %}


<div class="custom_dropdown">
<div class="custom_dropdown_list">
    <span class="custom_dropdown_placeholder clc">All Categories</span>
    <i class="fas fa-chevron-down"></i>
    <ul class="custom_list clc">
        <li><a class="clc" href="#">All Categories</a></li>

        {% for category,structure in departments|tree_info %}
        {% if structure.new_level %}
                <li>{% else %}</li>

            <li>{% endif %}

            <a href="{{ category.get_absolute_url }}" class="clc" name="{{ category.id }}"> {{ category.category_name|truncatechars:19 }}</a>

                {% for level in structure.closed_levels %}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
</div>
