<h3>Categories</h3>
    <ul id="Categories">
        {% with active_categories as cats %}
         {% for c in cats %}
            <li>
                {% ifequal c.get_absolute_url request_path %}
                    {{ c.get_category_name_display }}
                    <br>
                {% else %}
                    <a href="{{ c.get_absolute_url }}" class="Category">{{ c.get_category_name_display }}</a>
                <br>
                {% endifequal %}
            </li>
        {% endfor %}
        {% endwith %}
    </ul>