{% extends 'me2ushop/base_template.html' %}
{% load mptt_tags %}
{% load crispy_forms_tags %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/seller_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3  {
    text-align: center;
  }
</style>
{% endblock %}

<body>
{% block navbar %}
{% endblock %}

{% block site_wrapper %}

<div class="super_container">
    <form class="form-signin" method="post">{% csrf_token %}
  <div class="d-flex flex-column pb-3">
      <a href="{% url 'me2ushop:home' %}"><img class="img-fluid mx-auto d-block" src='https://fontmeme.com/permalink/201127/9180ce1774f97569070d2e5d94bf1f5c.png' alt='Me2U|Afrika' width="100" height="100" border='0'></a>
  </div>

  <h1 class="h3 mb-3 font-weight-normal">Login</h1>

   {{ form|crispy }}

    {% for field in form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
      {% if form.non_field_errors %}
        <div style="color: red">
          <p>{{form.non_field_errors}}</p>
        </div>

    {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
<div class="d-flex flex-column">
  <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
</div>
<div class="text-center border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{% url 'users:register'%}">Sign Up</a>
    </small>
</div>

</div>

{% endblock %}


{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>



