{% extends 'me2ushop/base_template.html' %}
{% load mptt_tags %}



{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_responsive.css">

{% endblock %}

<body>
{% block site_wrapper %}

<div class="super_container">
    <section class="text-center">
     <h3 class="mt-5"> You have been logged out! <br> Thanks for spending some quality time with Me2U|Afrika today.</h3>
        <br/>
        <br/>
        <div class="border-top mt-5 pt-3">
            <small class="text-muted">
                We miss you already!<a class="ml-2" href="{% url 'login'%}">Log In</a> <a class="ml-2" href="{% url 'me2ushop:home'%}">Home</a>
            </small>
        </div>
    </section>

</div>

{% endblock %}

 {% block footer %}
 {% endblock %}



{% block extra_scripts %}

<!-- contact styles-->
<script src="{{ STATIC_URL }}js/contact_custom.js"></script>

{% endblock %}
</body>

