{% block headblock %}

<!--Contact styles-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact_responsive.css">
<!--Contact styles-->
<style>

/*********************************
4. Contact
*********************************/

.contact_info
{
	width: 100%;
	padding-top: 70px;
}
.contact_info_item
{
	width: calc((100% - 60px) / 3);
	height: 100px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-left: 32px;
	padding-right: 15px;
}
.contact_info_image
{
	width: 35px;
	height: 35px;
	text-align: center;
}
.contact_info_image img
{
	max-width: 100%;
}
.contact_info_content
{
	padding-left: 17px;
}
.contact_info_title
{
	font-weight: 500;
}
.contact_info_text
{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}

/*********************************
4.1 Contact Form
*********************************/

.contact_form
{
	padding-top: 85px;
}
.contact_form_container
{

}
.contact_form_title
{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 37px;
}
.contact_form_inputs
{
	margin-bottom: 30px;
}
.input_field
{
	width: calc((100% - 60px) / 3);
	height: 50px;
	padding-left: 25px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	outline: none;
	color: #0e8ce4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus
{
	border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover
{
	border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.3);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.3);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.3);
}
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.3);
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.3);
}
.text_field
{
	width: 100%;
	height: 160px;
	padding-left: 25px;
	padding-top: 15px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	color: #0e8ce4;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_submit_button
{
	padding-left: 35px;
	padding-right: 35px;
	color: #FFFFFF;
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 24px;
}
</style>
{% endblock %}

<!-- Large modal -->
<div class="modal fade" id="seller_contact">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contact Supplier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="contact_info_container flex-lg-row flex-column justify-content-between align-items-between">
                    <!-- Contact Item -->
                    <div class="contact_info_content">
                        <div class="contact_info_title">TO: <span class="contact_info_text">{{object.brand_name}}</span></div>
                    </div>
                    <hr>
                    <!-- Contact Item -->
                    <div class="contact_info_content">
                        <div class="contact_info_title"><img class="contact_info_image" src="{{ object.get_image_in_display.image.thumbnail.url }}" alt="">
                            <span class="contact_info_text">{{ object }}</span></div>
                    </div>
                    <hr>
                    <!-- Contact Item -->
                    <div class="contact_info_content">
                        <div class="contact_info_title">Business Address: <span class="contact_info_text">
                            {% if object.brand_name.address1 %}{{object.brand_name.address1}}{% endif %}
                            {{object.brand_name.get_country_display}}</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="contact_form_container">
                        <div class="contact_info_text">Enter product details such as color, size, materials etc.
                            and other specification requirements to receive an accurate quote.</div>
                        <form method="POST"  action="{% url 'me2ushop:seller_contact_ajax' %}" id="contact_inquiry_form">
                        {% csrf_token %}
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                    <input type="hidden" name="productid" id="id_productid" class="contact_form_name input_field" value="{{ object.id }}">
    <!--                                    <input type="text" name="email" id="id_email" class="contact_form_email input_field" placeholder="Your email" required="required" data-error="Email is required.">-->
    <!--                                    <input type="text" name="phone" id="id_phone" class="contact_form_phone input_field" placeholder="Your phone number">-->
                                </div>
                            <div class="contact_form_text">
                                <textarea id="message" class="text_field contact_form_message" name="message" rows="4"
                                          required="required" placeholder="Write your Message Here">
                                </textarea>
                            </div>
                            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="include_business_card" id="include_business_card">
                                    <label class="custom-control form-check-label" for="include_business_card">Share my contact details with supplier</label>
<!--                                    <div class="hideable_Inquiry_form">-->
<!--                                        <input type="text" class="form-control" id="recipient-name" placeholder="Previous Inquiry ID">-->
<!--                                    </div>-->
                                </div>
                            </div>
                           <div class="contact_form_button">
                              <button type="submit" class="button contact_submit_button float-left" id="sendSupplierForm">Send Inquiry Now</button>
                            </div>
                        </form>
                        <div id="modalInquiryMessage"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer contact_form_button">
        <button type="button" class="button contact_submit_button btn-danger float-right" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

{% block extra_scripts %}


<!--Contact script-->
<script src="{{ STATIC_URL }}js/contact_custom.js"></script>
<!--End contact-->

{% endblock extra_scripts %}
