{% load static %}
{% load me2u_djangorave_tags %}
{% load currency %}
<form>
  <script src="https://checkout.flutterwave.com/v3.js"></script>
  <button type="button" onClick="makePayment()">Pay Now</button>
</form>

<script>
    {% autoescape off %}
        let pay_button_params = JSON.parse('{% pay_button_params_cart order_id=order.id %}');
    {% endautoescape %}
    const API_publicKey = pay_button_params.pub_key;

  function makePayment() {
    FlutterwaveCheckout({
      public_key: API_publicKey,
      tx_ref: pay_button_params.txref,
      amount: {{ order.get_total|currency:CURRENCY.code }},
      currency: "{{ CURRENCY.code }}",
      country: "{{ order.billing_country }}",
      payment_options: "",
      redirect_url: // specified redirect URL
        pay_button_params.redirect_url,
      customer: {
        email: "{{order.email}}",
        phone_number: "{{ order.phone }}",
        name: "{{order.name}}",
      },
      customizations: {
        title: "Me2U|Afrika Payment",
        description: "Payment for order: {{ order.id}}",
        logo: "https://fontmeme.com/permalink/201127/9180ce1774f97569070d2e5d94bf1f5c.png",
      },
    });
  }
</script>
