
{% block headblock %}
<style>
    .form-control{
        width: 100%;
    }
</style>
{% endblock %}

<script>
    $(document).on('change', '#post-form-size', function (e){
       e.preventDefault();
       $.ajax({
           type: 'POST',
           url: '{% url "me2ushop:color_ajax" %}',
           data:{
               productid:$('#productid').val(),
               size:$('#size').val(),
               csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
               action:'post'
           },
           data_type : 'html',
           success: function (data){
               console.log('success');
               $('#appendHere').html(data.rendered_table);
           },
           error: function (data){
               alert('something is a miss ' + data);
           }
       });
    });
</script>

<div class="order_info d-flex flex-row">
    <form method="post" id="post-form-size">
        <input type="hidden" name="productid" id="productid" value="{{ object.id }}">
        <span class="text-uppercase">Size:</span>
        {% csrf_token %}
        <select class="form-control" name="size" id="size">
            {% for rs in sizes %}
                <option {% if variant.size.id == rs.size.id %} selected {% endif %} value="{{ rs.size.id }}">
                    {{ rs.size.name}}
                </option>
            {% endfor %}
        </select>
</form>
</div>

{% block extra_scripts %}
{% endblock %}