{% extends 'navigation.html' %}
{% load search_tags %}
{% load catalog_filters %}


{% block content %}
<style>
  .vl {
  border-left: 1px solid black;
  height: 340px;
  position: absolute;
  left: 100%;
  margin-left: 10px;
  margin-top: -8px;
  top: 0;
}
</style>

  <div class="row">
    <div class="col-lg-2 mt-5">
      {% category_list request.path %}

    </div>

      <div class="col-lg-8">
      <!--Carousel Wrapper-->
      <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->

        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">
            <div class="view" style="background-image: url('{{ STATIC_URL }}images/Electronics/jumpstory.jpg');background-repeat: no-repeat;background-size: inherit;">
              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Karibu Me2U|Market</strong>
                  </h1>

                  <p>
                    <strong>All Rounded online Market of choice.  You need it, we got it! </strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong>
                      Empowering African Products And Culture Across the Globe through Trade.
                    </strong>
                  </p>

                  <a target="_blank" href="" class="btn btn-outline-white btn-lg">Start
                    Shopping
                    <i class="fas fa-chess"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/First slide-->

           <!--Second slide-->
          <div class="carousel-item">
            <div class="view" style="background-image: url('{{ STATIC_URL }}images/LocalProduce/Local7.jpg'); background-repeat: no-repeat; background-size: cover;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Door To Door Delivery Services</strong>
                  </h1>

                  <p>
                    <strong>We deliver in all East African Countries.</strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    Refer a seller and earn a shopping coupon worth $5 from their store!!
                  </p>

                  <a target="_blank" href="" class="btn btn-outline-white btn-lg">Start shopping
                    <i class="fas fa-chess-queen"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/Second slide-->

              <!--Second slide-->
          <div class="carousel-item">
            <div class="view" style="background-image: url('{{ STATIC_URL }}images/LocalProduce/LocalFarm.jpg'); background-repeat: no-repeat; background-size: cover;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Cheap Local Products</strong>
                  </h1>

                  <p>
                    <strong>Order Fresh Farm Products and Support our farmers. </strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong>Pre-packaged gloceries from our top sellers also available. Do more with a single click. </strong>
                  </p>

                  <a target="_blank" href="" class="btn btn-outline-white btn-lg">Start
                    Clicking
                    <i class="fas fa-chess-bishop"></i>
                  </a>
                </div>
                <!-- Content -->
              </div>
              <!-- Mask & flexbox options-->
            </div>
          </div>
          <!--/Second slide-->

                  <!--Second slide-->
          <div class="carousel-item">
            <div class="view" style="background-image: url('{{ STATIC_URL }}Electronics/electronics1.jpg'); background-repeat: no-repeat; background-size: cover;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Advertise Me2U|Africa</strong>
                  </h1>

                  <p>
                    <strong>What's the best way to earn in any Season?</strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    Use your media influence and earn with us. At Me2U, we care about our customers and the best way to appreciate you is to invest
                      in you. <br>
                      Don't say am Broke no more! We all Millionaires in different ways!
                  </p>

                  <a target="_blank" href="" class="btn btn-outline-white btn-lg">Start
                    Earning!!
                    <i class="fas fa-chess-king"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/Second slide-->



          <!--Third slide-->
          <div class="carousel-item">
            <div class="view" style="background-image: url('{{ STATIC_URL }}images/Electronics/electronics1.jpg'); background-repeat: no-repeat; background-size: cover;">

              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Earn With Me2U|Africa as an Agent</strong>
                  </h1>

                  <p>
                    <strong>All our Agents are our WareHouses!</strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    Do you own a form of automobile and would like to make some extra cash.
                    <br>
                      Work as our Pick and Drop agent and get paid weekly!
                      All qualified agents receive training on packaging and order preprocessing prior to Delivery
                  </p>

                  <a target="_blank" href="" class="btn btn-outline-white btn-lg">Deliver Orders
                    <i class="fas fa-chess-knight"></i>
                  </a>
                </div>
                <!-- Content -->

              </div>
              <!-- Mask & flexbox options-->

            </div>
          </div>
          <!--/Third slide-->

        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->

      </div>
      <!--/.Carousel Wrapper-->
      </div>

    <div class="col-lg-2 mt-5">
      {% include "tags/AfricaMade.html" %}

    </div>

    </div>
  <hr>
      {% block main_content %}
    <!--Main layout-->
    <main>
      <div class="view" style="background-image: url('{{ STATIC_URL }}images/pageDecorator/Maasaipattern.png'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link white-text waves-effect" href="{% url 'categories:categoriesHome' %}">Top Deals
                  <span class="sr-only">(current)</span>
                </a>
            </li>
          </ul>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <h5 class="white-text"></h5>
              </li>
            </ul>
            <!-- Links -->
              {% search_box request %}
          </div>
          <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
          </div>
      </div>

        <!--Section: Products v.3-->

          <section class="text-center">

                {% if search_recs %}
                  {% product_list search_recs 'Recommended For You' %}
                                <hr>
                {% endif %}

                  {% product_list featured 'Featured Products' %}
                                <hr>
                {% product_list bestseller 'Bestseller Products' %}
                 {% if view_recs %}
                                  <hr>
                    {% product_list view_recs 'Similar Products' %}
                  {% endif %}

                {% if paginator %}
                    <hr>
                    {% pagination_links request paginator %}
                    <hr>
                {% endif %}

                  {% if recently_viewed %}
                    <h3>Recently Viewed</h3>
                  {% endif %}
          </section>

            <div class="row">
            {% for item in recently_viewed %}
                <div class="col-lg-2 col-md-3 mb-4">
                  {% include 'tags/product_thumbnail.html' %}
                </div>
            {% endfor %}
            </div>



          <!--Section: Products v.3-->
          <!--Pagination-->


          <!--Pagination-->





    </main>
    <!--Main layout-->
    <hr>

      {% endblock main_content %}

    {% block extra_scripts %}

    <script>
   //   const cnt = document.getElementById('container');
   //   const reset = document.querySelector('.reset');
   //   const img = "https://unsplash.it/1900/1680/?random";

      const n = 10;
      const m = 10;
      const pos = [];
      const shuffled = [];

      cnt.style.width = '100vw';
      cnt.style.height = '100vh';


      for(let i=0; i<n; i++){
        for(let j=0; j<m; j++){
          let x = i * 10;
          let y = j * 10;
          pos.push([x, y]);
          shuffled.push([x, y]);
        }
      }

      shuffle(shuffled);

      for(let i=0; i<n; i++){
        for(let j=0; j<m; j++){
          let box = document.createElement("div");
          let x = pos[10 * i + j][0];
          let y = pos[10 * i + j][1];

              let bx = shuffled[10 * i + j][0];
              let by = shuffled[10 * i + j][1];

          box.classList.add('box');
          box.style.left = `${x}vw`;
          box.style.top = `${y}vh`;
          box.style.width = '10.2vw';
          box.style.height = '10.2vh';
          box.style.background = `url("${img}")`;
          box.style.backgroundPosition = `${-bx}vw ${-by}vh`;
          box.style.backgroundSize = '100vw 100vh';
          cnt.appendChild(box);
        }
      }

      setTimeout(() => {
        const boxes = document.querySelectorAll('.box');
        boxes.forEach((box, idx) => {
          box.style.left = `${shuffled[idx][0]}vw`;
          box.style.top = `${shuffled[idx][1]}vh`;
        });
      }, 1500);

      function shuffle(array) {
        var i = 0
        , j = 0
        , temp = null

        for (i = array.length - 1; i > 0; i -= 1) {
          j = Math.floor(Math.random() * (i + 1))
          temp = array[i]
          array[i] = array[j]
          array[j] = temp
        }
      }


      reset.addEventListener('click', () => {
        const boxes = document.querySelectorAll('.box');

        boxes.forEach((box, idx) => {
          box.style.left = `${pos[idx][0]}vw`;
          box.style.top = `${pos[idx][1]}vh`;
        });

        setTimeout(() => {
          boxes.forEach((box, idx) => {
            box.style.left = `${shuffled[idx][0]}vw`;
            box.style.top = `${shuffled[idx][1]}vh`;
          });
        }, 2500);
      });
    </script>
    {% endblock %}

{% endblock content %}



