{% extends 'navigation.html' %}

{% block content %}
     {{block.super}}
<style>

      html,
    body,
    header,
    .tb {
      margin-top: 20px;
      height:300px;
    }

</style>

<body>

    <div class="table-responsive tb">
        <h2>Your Order Summary</h2>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Item Price</th>

        </tr>
      </thead>
      <tbody>
       {% for order_item in object.items.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'me2ushop:product' order_item.item.slug %}"> {{ order_item.item.title }} </a></td>
                <td>{{ order_item.item.price }}</td>
                <td><a href="{% url 'me2ushop:remove_single_item_cart' order_item.item.slug %}"><i class="fas fa-minus-circle mr-2"></i></a>
                    {{ order_item.quantity }}
                    <a href="{% url 'me2ushop:add_cart' order_item.item.slug %}"><i class="fas fa-plus-circle ml-2"></i></a></td>
                <td>
                    {% if order_item.item.discount_price %}

                    ${{ order_item.get_total_discount_price }}
                    <a class="btn btn-green btn-sm my-0 p">Saving ${{ order_item.get_total_saved }}</a>

                    {% else %}

                    ${{ order_item.get_total_price }}

                    {% endif %}

                    <a style="color:orange" href="{% url 'me2ushop:remove_cart' order_item.item.slug %}">
                    <i class="fas fa-toilet-paper ml-3"></i></a></td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5"> Your cart is Empty</td>
            </tr>
            <tr>
            <td colspan="5">
              <!--Call to action-->
              <div class="pt-4 text-center font-small mt-4 wow fadeIn">
               <a class="btn btn-outline-orange" href="{% url 'me2ushop:home'%}"
                   role="button">WndowShop<i class="fas fa-hand-holding-usd"></i>
                </a>
              </div>
            </td>
          </tr>
      {% endfor %}

       {% if object.get_total %}
       <tr>
         <td colspan="4"><b>Total</b></td>
         <td><b>${{ object.get_total }}</b></td>
       </tr>

      {% endif %}
      </tbody>
    </table>

  </div>

    <div class="pt-4 text-center font-small mt-4 wow fadeIn">
        <a class="btn btn-outline-orange" href="{% url 'me2ushop:home'%}"
           role="button">Continue Shopping<i class="fas fa-hand-holding-usd"></i>
        </a>
        <a class="btn btn-outline-green" href="{% url 'me2ushop:checkout' %}" role="button" target="_blank">Proceed to checkout
          <i class="fas fa-hand-holding-usd"></i><i class="fas fa-hand-lizard"></i>
        </a>
   </div>


</body>
{% endblock %}
