{% extends 'base.html' %}

{% block content %}
     {{block.super}}

<style>

</style>

<body>

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <div class="view overlay">
                  <img src=" {{ item.image.url }}" class="card-img-top">
<!--                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="card-img-top" alt="">-->
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
                {% if object.discount_price %}
                  <span class="mr-1">
                    <del>{{ object.price}}</del>
                </span>
              <span>${{ object.discount_price }}</span>

                {% else %}
                  <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

              <p>{{ object.description }}</p>

<!--                <p>Quantity:<a href="{{ object.get_remove_cart_url }}" > <i class="fas fa-minus-circle mr-2"></i></a>-->

<!--                  <div class="input-group">-->
<!--                  <a> {{ cart_product_form.quantity }} </a>-->
<!--                  </div>-->

<!--                  <a href="{{ object.get_add_cart_url }}"><i class="fas fa-plus-circle ml-2"></i></a>-->
<!--                </p>-->
                    <form action="{{ object.add_cart_qty }}" method="POST">
                    {% csrf_token %}
                      <div class="input-group" id="id_long_desc"><a href="" > <i class="fas fa-minus-circle mr-2"></i></a>
        <!--          <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">-->
                      {{ cart_product_form.quantity }}
                      <div class="input-group-append">
                     <a href="{{ object.get_add_cart_url_product }}"><i class="fas fa-plus-circle ml-2"></i></a>
                  </div>
                        <button class="btn btn-secondary btn-md waves-effect float:left mr-3" type="submit">Submit Qty</button>
                </div>
              </form>

               <a href="{{ object.get_add_cart_url }}" class="btn btn-primary btn-md my-3 p">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a href="{{ object.get_remove_cart_url }}" class="btn btn-danger btn-md my-0 p">
               Remove from cart
              </a>
              <a href="{{ object.get_order_summary_url }}" class="btn btn-secondary btn-md my-0 p">
               Order Summary
              </a>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>4K ACTION CAMERA with 4X ZOOM: Professional 4K/30FPS, 2.7K/30fps, 1080P/60FPS video and 16MP photo resolution enables you to capture exciting moment for you.<br>
            This action camera also features zoom range from 1.0X to 4.0X.
            WIRELESS WRIST REMOTE CONTROL: Put the remote control on your wrist while installing the sports PC web camera on your helmet, convenient to record moments in places you can't reach. Wireless range up to 10m(33ft), the remote is not waterproof.
            <br><
                WIFI ACTION CAMERA with 2" SCREEN: Save and share your sports action camera moments on the phone/tablet with App XDV, WiFi signal ranges up to 33 feet. 2'' screen allows you to preview the video in action camera.
                100FT WATERPROOF CAMERA with FREE ACCESSORIES: Place your camera into the waterproof case and securely fasten it, you can dive below 30 meters. This underwater camera is ideal for water sports such as swimming, surfing, diving, etc.
            <br> This underwater camera also comes with 2 rechargeable 1050mAh batteries, charger and accessories which available for most action camera even Gopro.
                  VERSATILE BUT COMPACT: This action camera features multiple functions including driving mode, image rotation, time-lapse, loop recording, slow motion, dramashot, exposure and white balance. Bringing this sports camera to more applicable conditions beyond your expectation. This action camera is not Mac compatible.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

</body>
{% endblock %}