{% extends 'navigation.html' %}
{% load tagging_tags %}
{% load render_bundle from webpack_loader %}


{% block content %}

<body>
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
                <div class="col-md-6 mb-4">
                        {% for image in object.productimage_set.all %}
                            {% if image.in_display %}
                            <div id="imagebox">
                                <img src="{{ image.image.url }}" alt="{{ object.title }}" class="img-fluid"/>
                            </div>
                            {% endif %}
                        {% endfor %}
                            <div class="cb"><br/></div>
                            <h3>Mostly Ordered With</h3>

                        <div class="row">
                            {% for item in object.cross_sells_hybrid %}
                                <div class="col-lg-4 col-md-12 mb-12">
                                {% include 'tags/product_thumbnail.html' %}
                                </div>
                            {% empty %}
                            <p class="text-center">No related orders.</p>
                            {% endfor %}
                        </div>
                    <hr>
                </div>
            <!--Grid column-->

            <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!--Content-->
                    <div class="p-4">

                        <h1>{{ object.title }}</h1>

                        <p class="lead">
                            {% if object.sale_price and object.discount_price %}
                           <h6><span class="mr-1">
                               <del>${{ object.price}}</del></span></h6>

                                <h2><span>${{ object.discount_price }}</span></h2>

                            {% else %}
                                <span>${{ object.price }}</span>
                            {% endif %}
                        </p>

                        <p class="lead font-weight-bold">Description</p>

                        <p>{{ object.description|linebreaks }}</p>
                        <p>Brand: <a href="{% url 'me2ushop:seller_page' object.seller.id %}"><em>{{ object.brand }}</em></a></p>
                            <br>
                            In categor{{ object.product_categories.count|pluralize:"y,ies" }}:
                                    {% for c in object.product_categories.all %}
                                        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
                                    {% if not forloop.last %} , {% endif %}
                                    {% endfor %}

                        <br>
                        <div class="cb"><br/><br/></div>
                        {% if object.seller == user %}
                            <div>
                                <a class="btn btn-outline-secondary" href="{% url 'me2ushop:product-update' object.slug %}">Update</a>
                                <a class="btn btn-outline-orange" href="{% url 'me2ushop:product_images' object.slug %}">Product Images</a>
                                <a class="btn btn-outline-danger" href="{% url 'me2ushop:product-delete' object.slug %}">Delete</a>
                                <a class="btn btn-outline-green" href="{% url 'me2ushop:seller_page' object.seller.id %}">My Store</a>

                            </div>

                        {% else %}
                            <form action="{{ object.get_add_cart_url }}" method="POST">
                                {% csrf_token %}
                                    <!--<div class="input-group" id="id_long_desc"><a href="" > <i class="fas fa-minus-circle mr-2"></i></a>-->
                                <div class="mt-3 pl-1 col-xs-2">
                                    {% if formset %}
                                    {{ formset.management_form }}
                                        {% for form in formset %}
                                    <div class="row">
                                        {{ form }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="cb"><br/><br/></div>

                                <div>
                                    <button class="btn btn-primary btn-md waves-effect float:left mr-3" type="submit">
                                        Add to Cart<i class="fas fa-shopping-cart ml-1"></i>
                                    </button>
                                    <a href="{{ object.get_remove_cart_url }}" class="btn btn-danger btn-md my-0 p">
                                        Remove from cart
                                    </a>
                                    <a href="{{ object.get_order_summary_url }}" class="btn btn-secondary btn-md my-0 p">
                                        Order Summary
                                    </a>
                                </div>
                            </form>
                            <br>
                            <div>
                                Seller: <a href="{% url 'me2ushop:seller_page' object.seller.id %}"> {{ object.brand }}</a>
                            </div>
                        {% endif %}

                        <section class="text-left pl-5">
                            <div class="cb"><br /><br /></div>
                            <h3>Product Tags</h3>
                                <div id="tags" >
                                    {% for tag in product.tags %}
                                        {% include 'tags/tag_link.html' %}
                                    {% empty %}
                                    <div id="no_tags">
                                        Help other sellers find this product easily. Add tags or create one. Tag the product in your local dialect.
                                        <br>
                                        i.e kiti-kiswahili, amata-kinyarwanda
                                    </div>
                                    {% endfor %}
                                </div>
                                <br />
                            {% if request.user.is_authenticated %}
                                <label for="id_tag"><a id="tag_product" style=" color:blueviolet;">Tag this product </a></label>
                                <br />
                                <input type="hidden" id="id_slug" value="{{ object.slug }}"/>
                                <input id="id_tag" type="text" placeholder="Type to choose or create a tag."/>
                                <form>

                                </form>
                                <input type="submit" value="Tag It" id="add_tag" />
                            {% else %}
                            <a href="{% url 'login' %}?next={{ request.path }}">
                                Log in to tag this product.
                            </a>
                            {% endif %}

                            <div class="cb">
                                <br/><br/>
                            </div>
                            <h3>Product Reviews</h3>
                            {% if request.user.is_authenticated %}
                            {% if request.user != object.seller %}
                                <a id="add_review" style=" color:blueviolet;">Write a Review</a>
                            {% endif %}
                                <div id="review_form">
                                    <div id="review_errors">
                                    </div>
                                    <table>
                                        {{ review_form.as_table }}
                                        <tr>
                                            <td colspan="2">
                                                {% csrf_token %}
                                                <input type="submit" id="submit_review" value="Submit"/>
                                                <input type="submit" id="cancel_review" value="Cancel|Close"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            {% else %}
                            <a href="{% url 'login' %}?next={{ request.path }}">
                                Log in to write your own review.
                            </a>
                            {% endif %}
                            <div class="cb">
                                <br/><br/>
                            </div>
                            <div id="reviews">
                                {% for review in product_reviews %}
                                    {% include 'tags/product_review.html' %}
                                {% empty %}
                                <div id="no_reviews">
                                    No product reviews yet. Be the First!
                                </div>
                                {% endfor %}
                            </div>
                        </section>

                        <div class="cb">
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <!--Content-->
                    <!--Grid column-->

                </div>
            <!--Grid row-->

            <hr>

            <!--Grid row-->
            {% if object.additional_information %}
                <div class="row d-flex justify-content-center wow fadeIn">

                    <!--Grid column-->
                    <div class="col-md-6 text-center">

                        <h4 class="my-4 h4">Additional information</h4>

                        <p>{{ object.additional_information|linebreaks }}</p>

                    </div>
                    <!--Grid column-->
                </div>
            {% endif %}
                <!--Grid row-->
                <hr>
                <!--Grid row-->
                <div class="row d-flex justify-content-center wow fadeIn">

                    <div class="col-md-12 text-center">
                        <h3>Similar Products by different vendors</h3>
                        {% for item in object.cross_sells_sellers %}
                                <div class="col-lg-4 col-md-12 mb-12">
                                {% include 'tags/product_snippet.html' %}
                                </div>
                            {% empty %}
                            <p class="text-center">No related orders.</p>
                            {% endfor %}
                    </div>
                </div>
                <hr>
            <!--Grid row-->
        </div>

    </div>
  </main>
  <!--Main layout-->
        {% block extra_scripts %}
            {% if formset %}
                {{ formset.media }}
            {% endif %}

            {% render_bundle 'imageswitcher' 'js' %}
            <script>
                const e = React.createElement;
                document.addEventListener("DOMContentLoaded",
                    function(event) {
                        var images = [
                            {% for image in object.productimage_set.all %}
                                {"image": "{{image.image.url|safe }}",
                                    "thumbnail": "{{ image.image.thumbnail.url|safe }}"
                                },
                            {% endfor %}
                        ]
                        ReactDOM.render(e(ImageBox,
                        {images: images,
                         imageStart:images[0]}),
                           document.getElementById('imagebox')
                        );
                    });
            </script>
        {% endblock extra_scripts %}


</body>
{% endblock %}
