{% extends 'navigation.html' %}

{% block content %}
    <h1>About Us</h1>
<p> Me2U|Africa is an ecommerce store stocked with almost everything you would need </p>
<p> Daniel Ogechi is the CEO </p>
<div class="vcard">
    <div class="fn org"> Me2U|Africa</div>
    <div class="adr">
        <div class="street-address">KG 7 Kigali Heights</div>
    </div>
    <span class="locality">2nd Floor</span>
    <abbr class="region" title="Kigali">KG</abbr>
    <span class="postal-code">00100</span>
    <div class="country-name">Rwanda</div>
    <div>Phone: <span class="tel">+250  785 011 413</span> </div>
    <div>Email: <span class="email">danielmakori0@gmail.com</span> </div>
</div>
{% endblock content %}